
.button {
  font-size: 18px;
  font-family: Arial, sans-serif;
  border-radius: 7px;
  margin: 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
}

.green {
  background-color: #778d45;
}

.light-green {
  background-color: #aec09a;
}

.button:hover {
  color: #000000;
}
