.main_movie_poster {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie_poster {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  
  .movie_poster > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(255, 86, 0);
    font: 3em sans-serif;
    color: white;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  
 
   .movie_poster .movie_poster1 {
    top: 30px;
    left: 30px;
    width: 90px;
    background-color: rgb(59, 179, 58);
  }
  .movie_poster .movie_poster2 {
    top: 30px;
    left: 30px;
    width: 90px;
    background-color: rgb(255, 0, 0);
  }