* {
  box-sizing: border-box;
}

body{
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}
header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: black;
  border-radius: 7px;
}

h1 {
  color: purple;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  
  background-color: rgb(39, 36, 36);
}

footer {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 100px;
  background-color:black;
  color: rgb(177, 41, 177); 
  font-family: "Roboto", system-ui;
  font-size: 20px; 
  margin: auto;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  
}

.footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bands-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  grid-auto-rows: 400px;
  
}

.band-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(23, 23, 23);
}

.bands-container img {
  width: 250px;
  height: auto;
  object-fit: cover;
  
}

.bands-container h2,
p {
  color: rgb(154, 36, 154);
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}


@media(max-width:430px){
  header{
    background-color: rgb(2, 2, 65);
  }
  
}

@media(max-width:768px){
  header{
    background-color: rgb(145, 140, 140);
  }
}